/* :root {
    --overlay-color: rgba(163, 163, 162, 0.959);
    --menu-speed: 0.75s;
    
} */

/* .main
{

    display: none;

} */


/* .loader
{
    transition: opacity 2s ease-out;
} */

html
{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#homeNav{
    display: block;
    width: 60px;
    height: 60px;
    border-style: solid;
    position: fixed;
    background-color: rgba(122, 122, 122, 0.904);
    border-radius: 13px;
}

#TopBar{
    height: 60px;
    width: 100%;
    background-color: rgba(122, 122, 122, 0.904);
    padding: 15px;
    display: block;
    text-align: right;
    border-bottom-style: solid;
    position: fixed;
}

#title{
    display: inline-block;
    margin-top:60px;
}

#picBorder{
    background-color: rgb(2, 2, 2);
    height: 310px;
    width: 320px;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-radius: 150px;
    
}

#borderPic{
    display: inline-block;
    height: 340px;
    width: 100%;
    background-color: white;
}

.Background{
    display: block;
    text-align: center;
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/seattle-skyline-in-black-watercolor-on-white-background-pablo-romero.jpg");
    /* position: absolute; */
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
}

@media only screen and (max-width: 1000px) {
    .Background {
        min-width: 100%;
        min-height: 750px;
    }
  }

@media only screen and (max-width: 320px) {
    .Background {
      min-height: 700px;
    }
  }


.NameJimmy{
    display: block;
    font-style: italic;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin: 0;

}

@media only screen and (max-width: 768px) {
    .NameBorder .NameJimmy {
      font-size: 2.0em;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .NameBorder .NameJimmy {
      font-size: 1.5em;
    }
  }

.LastBorder
{
    display: inline-block;
    margin-top: 30px;
    width: 50%;
    margin-left: 50%;
}

.LastName
{
    font-style: italic;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin: 0;
    margin-top: 1%;
}

@media only screen and (max-width: 768px) {
    .NameBorder .NameJimmy {
      font-size: 2.0em;
    }

    .LastBorder .LastName {
        font-size: 2.0em;
      }
}
  @media only screen and (max-width: 320px) {
    .NameBorder .NameJimmy {
      font-size: 1.5em;
      margin-top: -25px;
    }

    .LastBorder .LastName {
        font-size: 1.5em;
        margin-top: -25px;
    }
  }

.LastBorder .LastName
{
    position: absolute;
    transform: translate(-50%, -50%);
  
}

.LastBorder .LastName:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px rgb(11, 10, 75);
}

.LastBorder .LastName:nth-child(2)
{
    color: #03a9f4;
    
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%, 100%
    {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        
    }
    40%{
        clip-path: polygon(0% 48%, 100% 48%, 100% 100%, 0% 100%);
        
    }
    60%{
        clip-path: polygon(0% 100%, 100% 100%, 1% 100%, 100% 100%);
        
    }
}


.NameBorder{
    display: inline-block;
    margin-top: 100px;
    width: 50%;
    margin-left: 50%;
    
}

.NameBorder .NameJimmy
{
    position: absolute;
    /* color: #fff; */
    transform: translate(-50%, -50%);
    /* font-size: 2.5em; */
}

.NameBorder .NameJimmy:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px rgb(11, 10, 75);
}

.NameBorder .NameJimmy:nth-child(2)
{
    color: #03a9f4;
    
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%, 100%
    {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        
    }
    40%{
        clip-path: polygon(0% 48%, 100% 48%, 100% 100%, 0% 100%);
        
    }
    60%{
        clip-path: polygon(0% 100%, 100% 100%, 1% 100%, 100% 100%);
        
    }
}


.Links{
    display: inline-block;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.562);
    margin-top: 5px;
    
}

.GitHub{
    display: inline-block;
    height: 50px;
    width: 40px;
   
}


.GitHubBorder{
    display: inline-block;
    background-color: rgba(25, 0, 248, 0.089);
    height: 55px;
    width: 45px;
    border-radius: 50%;
    margin-left: 1%;
    border: solid;
}

.Linkedin{
    display: inline-block;
    height: 35px;
    width: 30px;
    margin-top: 10px;
}

.LinkedinBorder{
    display: inline-block;
    background-color: rgba(25, 0, 248, 0.089);
    height: 55px;
    width: 45px;
    border-radius: 50%;
    margin-left: 1%;
    border: solid;
}

.ResumeBorder{
    display: inline-block;
    background-color: rgba(25, 0, 248, 0.089);
    height: 55px;
    width: 45px;
    border-radius: 50%;
    margin-left: 1%;
    border: solid;
}

.Resume{
    display: inline-block;
    height: 50px;
    width: 40px;
}

#updateWord{
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 60px;

}


.LeImages{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 7%;
    /* background-color: rgba(255, 255, 255, 0.397); */
}

@media only screen and (max-width: 330px) {
    .LeImages {
      margin-top: 4%;
    }
  }

  @media only screen and (max-width: 550px) {
    .LeImages {
      margin-top: 7.8%;
    }
  }


#myPic{
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    align-self: center;
    
}

#page{
    height: 100%;
    width: 100%;
    
}

.TopTwo{
    display: block;
    min-width: 100%;
    min-height: 780px;
    background-color: rgba(0, 0, 0, 0.877);
}

@media only screen and (max-width: 1000px) {
    .TopTwo {
        min-width: 100%;
        min-height: 700px;
    }
  }

@media only screen and (max-width: 700px) {
    .TopTwo {
        min-width: 100%;
        min-height: 1140px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .TopTwo {
        min-width: 100%;
        min-height: 1170px;
    }
  }

.WelcomeBox{
    display: block;
    min-height: 30%;
    margin-top: 5%;
    background-color: #00000091;
    text-align: center;

    
}

.WelcomeText{
    display: block;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    font-style: italic;
    

}


.Texts{
    display: inline-block;
    font-size: large;
    color: rgba(255, 255, 255, 0.897);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}


.Line 
{
    display: inline-block;
    font-size: small;
    color: rgba(255, 255, 255, 0.897);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.TextsTech
{
    display: inline-block;
    font-size: large;
    color: rgba(255, 255, 255, 0.897);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}


.OtherImage{
    display: inline-block;
    height: 320px;
    width: 300px;
    margin-top: 2%;
}

.SecondPic{
    height: 100%;
    width: 100%;
}



.skill{
    background-color: transparent;
    width: 100%;
    height: 100%;

}

.skillBox{
    display: inline-block;
    background-color: transparent;
    width: 100%;
    vertical-align: top;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.container1{
    width: 70%;
    height: 10px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 0.5% auto;
  
}

.skill > h1{
    margin-left: 1%;
    color: floralwhite;
    font-family: "Courier New", 'Courier New', Courier, monospace;
    font-size: 20px;
    

}

.bar{
    box-shadow: 0px 0px 10px 4px rgb(150, 213, 241);
    height: 4px;
    margin: 2px 0px;
    border-radius: 2px;
    background-color: #fff;
}

.html{
    animation: html 2s;
    width: 78%;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 78%;
    }
}

.python{
    animation: html 2s;
    width: 80%;
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.mongoDB{
    animation: html 2s;
    width: 78%;
}

@keyframes mongoDB{
    0%{
        width: 0%;
    }
    100%{
        width: 78%;
    }
}

.mysql{
    animation: html 2s;
    width: 78%;
}

@keyframes mysql{
    0%{
        width: 0%;
    }
    100%{
        width: 78%;
    }
}

.react{
    animation: html 2s;
    width: 80%;
}

@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.java{
    animation: html 2s;
    width: 60%;
}

@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

.c{
    animation: html 2s;
    width: 70%;
}

@keyframes c{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.js{
    animation: html 2s;
    width: 90%;
}

@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.swift{
    animation: html 2s;
    width: 60%;
}
@keyframes swift{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

.skillText{
    display: inline-block;
    margin-left: auto;
}

.Bigcontainer{
    display: inline-block;
    width: 100%;
    height: 90%;
    /* margin-top: 7%; */
    
}


#Middle{
    display: block;
    text-align: center;

    background-color: whitesmoke;
    min-width: 100%;
    min-height: 780px;
    background-size: cover;
    background-position: center;
}

.container2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.container2 .card{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    background: rgb(255, 255, 255);
   

}

.container2 .card:nth-child(even){
   
    flex-direction: column-reverse;
}

.container2 .card .imgBx{
    width: 250px;
    height: 250px;
    background: #000;
}

.container2 .card .imgBx img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container2 .card .content{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .card .content div{
    padding: 20px;
    text-align: center;
}

@media (max-width: 1000px)
{
    .container2{
        
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        /* margin: 50px; */
    }

    .container2 .card
    {
        flex-direction: row;
        margin: 10px 0;
    }

    .container2 .card:nth-child(even){
        flex-direction: row-reverse;
    }

    .container2 .card .imgBx,
    .container2 .card .content{
        width: 50%;
    }
}

@media (max-width: 600px)
{
    .container2 .card
    {
        flex-direction: column;
        margin: 10px 0;
    }

    .container2 .card:nth-child(even)
    {
        flex-direction: column;
    }

    .container2 .card .imgBx,
    .container2 .card .content
    {
        width: 100%;
    }

    .container2 .card .content
    {
        height: 200px;
    }
}

#boxFour
{
    display: block;
    text-align: center;

    background-color: rgb(0, 0, 0);
    min-width: 100%;
    min-height: 780px;
    background-size: cover;
    background-position: center;
}

.quote
{
    display: inline-block;
    height: 75px;
    width: 75px;
}

.Container3
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
}

.Container3 .testimonialsBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 420px;
    margin: 3%;
    background: #1d2f3d;
    margin-top: 150px;
}

.Container3 .testimonialsBox .MyContent
{
    padding: 5%;
    text-align: center;

}

.Container3 .testimonialsBox .MyContent p
{
    color: rgb(255, 255, 255);
    padding: 1% 0;
}

.Container3 .testimonialsBox .MyContent .User
{
    max-width: 75px;
    border-radius: 50%;
}

.Container3 .testimonialsBox .MyContent h3
{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 1050px)
{
    .Container3
    {
        justify-content: center;
    }
}

@media (max-width: 768px)
{
    .Container3 .testimonialsBox
    {
        width: 90%;
        height: auto;
        padding: 30px 20px;
    }
}

#SectionOne
{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

#SectionTwo
{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


#SectionThree
{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


#SectionFour
{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.Num
{
    display: block;
    cursor: pointer;
    height: 50px;
    width: 40px;
    
   
}

#NumButton 
{
    background-color: transparent;
    border-color: transparent;
}

#email
{
    display: inline-block;
    height: 50px;
    width: 40px;
    margin-left: 8%;
   
}

#add
{
    color: white;
    margin-left: 1%;
}

.linkedin2
{
    display: inline-block;
    height: 50px;
    width: 40px;
    margin-left: 8%;
}

#textAboutMe
{
    display: inline-block;
    color: white;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

#story
{
    display: inline-block;
    color: white;
    font-size: x-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.SummaryBox{
    display: block;
    min-height: 100px;
    margin-top: 5%;
    background-color: #00000091;
    text-align: center;

}

#AboutSection
{
    min-height: 150px;
    width: 100%;
    display: block;
    background-image: url("https://www.the-arcade.ie/wp-content/uploads/2016/02/rising_sun_trail_by_threedeee-d9qri0h.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 1000px)
{
    #AboutSection
    {
        background-attachment: scroll;
    }
}


.AboutText2
{
    display: inline-block;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: white;
    position: relative;
    transform-style: inherit;
    text-shadow: 4px 4px 4px black;
    
}

#ProjectSection
{
    min-height: 150px;
    width: 100%;
    display: block;
    background-image: url("https://elements-video-cover-images-0.imgix.net/files/9df4a8dc-4875-441b-8e0f-334983f77229/inline_image_preview.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=b6449f284fc33bc1da9d6bba472f9663");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 1000px)
{
    #ProjectSection
    {
        background-attachment: scroll;
    }
}

.ProjectText
{
    display: inline-block;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: white;
    position: relative;
    transform-style: inherit;
    text-shadow: 4px 4px 4px black;
    
}

#TestSection
{
    min-height: 150px;
    width: 100%;
    display: block;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-creative-business-portrait-exposure-synthetic-business-background-image_262881.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 1000px)
{
    #TestSection
    {
        background-attachment: scroll;
    }
}

.testText
{
    display: inline-block;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: white;
    position: relative;
    transform-style: inherit;
    text-shadow: 4px 4px 4px black;
    
}

.AboutContainer
{
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.AboutContainer .AboutCard
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}

.AboutContainer .AboutCard .AboutImg
{
    position: relative;
    left: 25px;
    width: 500px;
    height: 400px;
    z-index: 1;
}

.AboutContainer .AboutCard .AboutImg .SecondPic
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.AboutContainer .AboutCard .AboutContentBox
{
    position: relative;
    right: 25px;
    width: 500px;
    height: 400px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;
}

.AboutContainer .AboutCard .AboutContentBox:before
{
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #000;
    z-index: -1; 
}

.AboutContainer .AboutCard .AboutContentBox .TextSum
{
    font-size: 30px;
    color: #fff;

}

.AboutContainer .AboutCard .AboutContentBox .paragraph
{
    margin-top: 10px;
    color: #fff;
    
}


@media (max-width: 1000px)
{
    .AboutContainer .AboutCard
    {
        flex-direction: column;
        max-width: 350px;
    }

    .AboutContainer .AboutCard .AboutImg
    {
        width: 100%;
        height: 250px;
        left: 0;
    }

    .AboutContainer .AboutCard .AboutContentBox
    {
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;

    }

    .AboutContainer .AboutCard .AboutContentBox:before
    {
        top: 0;
        bottom: 0;

    }
}

